.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiExpansionPanelDetails-root {
  padding: 0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.leaflet-container {
  width: 100%;
  height: 80vh;
}

#mapForm {
  width: 100%;
  height: 60vh;
}

.MuiStepLabel-label.MuiStepLabel-completed {
  color: #fff !important;
}
.MuiStepLabel-label {
  color: #f9f9f9b7 !important;
  font-weight: 400;
}

@media (max-width: 576px) {
  .leaflet-container {
    width: 90%;
    height: 60vh;
  }
  #mapForm {
    width: 100%;
    height: 40vh;
  }
}

